#officesTitle {
    height: 87.59px;
    display: flex;
    align-items: center;
    background-color: $NMgrey;

    #titleContents {
        display: flex;
        align-items: center;

        @include mq("xs") {
            margin-left: 0;
            padding-left: 7px;
        }

        @include mq("m") {
            margin-left: auto;
            padding-left: 15px;
        }
    }

    .desktopFormat {
        display: none;

        @include mq("l") {
            display: block;
            font-size: 0.9rem;
            color: black;
        }
    }

    @include mq("l") {
        background-color: transparent;
        height: 45.56px;
        box-shadow: 0 5px 35px rgba(0, 0, 0, .1);
    }

    h2 {
        font-size: 2.4rem;
        font-weight: 400;
        color: white;

        @include mq("l") {
            font-size: 0.85rem;
            color: black;

            &:nth-of-type(1) {
                margin-right: 10px;
                margin-left: 30px;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            &:nth-of-type(3) {
                padding-left: 0;
                margin-left: 10px;
            }
        }
    }
}

#desktopTitle {
    font-size: 2.2rem;
    font-weight: 400;
    margin-left: 25px;
    margin-top: 50px;
    margin-bottom: 5px;
    color: #333645;
    display: none;

    @include mq("l") {
        display: block;
    }
}

#officeCardSection {
    margin-top: 80px;

    #officeCardContainer {
        display: flex;
        flex-direction: column;
        row-gap: 70px;

        @include mq("l") {
            flex-direction: row;
            justify-content: center;
            column-gap: 32px;
        }

        .officeCard {
            display: flex;
            flex-direction: column;
            min-height: 456.11px;
            max-height: 651px;
            min-width: 310px;
            box-shadow: 0 3px 35px rgba(0, 0, 0, .1);

            @include mq("m") {
                height: 643px;
                width: 720px;
                max-height: none;
            }

            @include mq("l") {
                height: 448.52px;
                width: 293.33px;
                min-width: 293.33px;
            }

            @include mq("xl") {
                height: 483.44px;
                width: 370px;
                min-width: 370px;
            }

            .officeTopSection {
                // border-radius: 20px;
                // height: 30%;
                min-height: 140px;
                max-height: 335px;
                overflow: hidden;

                @include mq("m") {
                    height: 327px;
                    min-height: 327px;
                    max-height: none;
                    overflow: initial;
                }

                @include mq("l") {
                    min-height: 132.67px;
                    height: 132.67px;  
                }

                @include mq("xl") {
                    min-height: 169.59px;
                    height: 169.59px; 
                }
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-top-left-radius: 18px;
                    border-top-right-radius: 18px;
                    display: block;
                }
            }

            .officeMidSection {
            // height: 40%;
            padding: 30px;
            border: 1px solid #cfcfcf;
            border-bottom: none;

            @include mq("m") {
                padding-bottom: 20px;
            }

            @include mq("l") {
                padding-bottom: 7px;
            }
            
            h3 {
                font-size: 1.25rem;
                font-weight: 400;
                margin-top: 0;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }

            p {
                font-size: 0.85rem;
                margin-bottom: 20px;
                line-height: 1.4rem;
                color: #666;
                margin-bottom: 4px;
            }
            }

            .officeBottomSection {
                // height: 30%;
                display: flex;
                flex-direction: column;
                padding: 30px;
                padding-top: 20px;
                border: 1px solid #cfcfcf;
                border-top: none;

                @include mq("m") {
                    padding-top: 0;
                    padding-bottom: 15px;
                }

                @include mq("l") {
                    padding-bottom: 34px;
                }

                @include mq("xl") {
                    padding-bottom: 26px;
                }
                
                a {
                    color: $NMpuples;
                    font-size: 1.5rem;
                    font-weight: 700;

                    &:hover {
                        cursor: pointer;
                    }

                    &:nth-of-type(1):hover {
                        text-decoration: underline;
                    }
                    
                    @include mq("m") {
                        font-size: 1.65rem;
                    }
                }
                
                .officeButton {
                    font-size: 0.9rem;
                    font-weight: 400;
                    margin-top: 15px;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    color: white;
                    background-color: $NMpuples;
                    width: 144.03px;
                    text-align: center;
                    border-radius: 3px;

                    &:hover {
                        background-color: $darkPurpleHover;
                    }
                }
        }

    }

    }

}
