// GENERIC PAGE STYLINGS

input {
    text-indent: 2%;
}

button {
    color: white;
    background-color: #f7b322;
    border-radius: 3px;
    border: none;
}

.blueButton {
    background-color: #4183d7;
}

.darkButton {
    background-color: #272936;
}

.greenButton {
    background-color: #2ecc71;
}

.darkGreenButton {
    background-color: #00b67b;
}

.redButton {
    background-color:#f62459;
}

.purpleButton {
    background-color: rgb(146, 111, 177);
}

.maroon {
    background-color: rgb(214, 69, 65);
}

.greyButton {
    background-color: #999aa2;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.mobileOnly {
    @include mq("m") {
        display: none;
    }
}

.biggerDevice {
    display: none;
    @include mq("m") {
        display: inline;
    }
}

// MAIN HEADER SECTION

.titlebar {
    @include mq("m") {
        justify-content: flex-start;
    }
}

.searchBar, #phoneIcon {
    @include mq("m") {
        display: none;
    }
}

#homeNetmattersLogo {
    @include mq("m") {
        grid-area: logo;
        min-height: 60.06px;
        min-width: 345px;
        //flex-grow: 2;
    }
    @include mq("xl") {
        width: 370px;
        height: 65px;
    }
}

.lDeviceSearchBar {
    grid-area: searchBar;
    @include mq("s") {
        display: none;
    }
    @include mq("m") {
        display: flex;
    }
    @include mq("l") {
        display: none;
    }
    @include mq("xl") {
        display: flex;
    }   
}

#lSearchBar {
    min-width: 174px;
    max-width: 174px;
    text-indent: 8%;
    font-size: 0.9rem;
    @include mq("xl") {
        min-width: 240px;
        min-height: 56px;
    }
}

#burgerMenuButton {
    grid-area: burgerMenu;
    @include mq("m") {
        max-width: 0;
        max-height: 0;
        min-width: 63px;
        min-height: 56px;
    }
    @include mq("l") {
        margin-left: -50%;
    }  
}

#mainSearchBar, #searchIcon, #lSearchBar {
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-color: #D5D5D5;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
}

#searchIcon {
    border-right-style: solid;
    border-left-style: none;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
}

#lSearchIcon {
    min-width: 63px;
    min-height: 56px;
    background-color: #999aa2;
    @include mq("xl") {
        min-height: 56px;
        min-width: 63x;
    }
}

#whiteMagGlass {
    height: 45%;
    width: 48%;

}

#support {
    display: none;
    grid-area: support;
    width: 150px;
    font-size: 1.3rem;
    text-align: center;
    @include mq("l") { 
        display: inline;
        margin-right: 14%;
    }
}

#contact {
    display: none;
    grid-area: contact;
    @include mq("l") { 
        display: inline;
    }

}

#contact, #support {
    @include mq("xl") { 
        padding: 0%;
        font-size: 1.1rem;
    }
}

#contactIcon, #mouseIcon, #whiteContactIcon {
    min-width: 0px;
    min-height: 0px;
    max-width: 27px;
    max-height: 27px;
}

#contactIcon {
    @include mq("xl") { 
        display: none;
    }  
}

#whiteContactIcon {
    display: none;
    @include mq("xl") { 
        display: inline;
    }
}

#support, #contact {
    width: 150px;
    height: 56px;
}

#searchButton {
    grid-area: search;
    display: none;
    min-width: 63px;
    min-height: 56px;
    @include mq("l") { 
        display: inline;
    }
    @include mq("xl") { 
        display: none;
    }
}

//MAIN NAV BAR

.navItem {
    background-color: transparent;
}

.navItem img {
    max-width: 32px;
    max-height: 23px;
    margin-bottom: 9px;
}

.navTitleSmall {
    font-size: 0.7rem;
    margin: 2px;
}

.navTitleBottom {
    font-size: 1.2rem;
    margin: 0.5px;
}

// IMAGE BANNER SECTION

.infoBanner {
    color: white;
}

.overlayingBannerItems h1 {
    z-index: 2;
    text-align: center;
    font-size: 2.7rem;
    @include mq("l") {
        text-align: left;
        font-size: 4rem;
        margin-bottom: 2.2%;
    }
    @include mq("xl") {
        font-size: 3.8rem;
    }
}

.overlayingBannerItems p {
    font-size: 1.4rem;
    text-align: center;
    @include mq("l") {
        text-align: left;
        font-size: 1.6rem;
        margin-top: 1.5%;

    }
}

.overlayingBannerItems button {
    height: 60px;
    font-size: 20px;
    padding: 4%;
    line-height: 0px;
    @include mq("xl") {
        text-align: center;
        width: 250px;
        height: 62px;
        max-height: 62px;
        font-size: 1.4rem;
        padding: 0px;
        margin-top: 2.5%;
    }
}

// OUR SERVICES SECTION

#serviceMenu {
    color: rgb(51, 54, 69);

}

#serviceMenu .item {
    text-align: center;
}

#serviceMenu H1 {
    font-size: 3rem;
    margin-top: 6%;
    margin-bottom: 5%;
    @include mq("m") {
        font-size: 2.5rem;
    }
}

#serviceMenu p {
    font-size: 0.83rem;
}

#ourWorkLaptop {
    @include mq("s") {
        display: none;
    }
    font-size: 2.3rem;
    @include mq("l") {
        display: inline;
    }
}

.item button {
    height: 47px;
    width: 130px;
    font-size: 1.063rem;
    margin-bottom: 4%;
}

.item img {
    padding-top: 4%;
}

#services {
    @include mq("l") {
        display: inline;
    }
}

#servicesGrid {
    grid-area: title;
    @include mq("l") {
        display: none;
    }
}

#firstRow .item {
    @include mq("m") {
        width: 720px;
        height: 270px;
    }

    @include mq("l") {
        min-width: 294px;
        width: 294px;
        height: 337px;
        max-height: 337px;
    }
    @include mq("xl") {
        min-width: 370px;
        min-height: 315px;
        width: 370px;
        height: 315px;
    }
}

#secondRow .item {
    @include mq("m") {
        width: 345px;
        height: 292px;
    }

    @include mq("l") {
        width: 455px;
        min-height: 292px;
    }
    @include mq("xl") {
        min-width: 270px;
        min-height: 314px;
        width: 270px;
        height: 314px;
    }
}

.item-1 {
    grid-area: bespoke;
}

.item-2 {
    grid-area: support;
}

.item-3 {
    grid-area: marketing;
}

.item-4 {
    grid-area: telecoms;
}

.item-5 {
    grid-area: design;
}

.item-6 {
   grid-area: security; 
}

.item-7 {
    grid-area: training;
}

// .ourWorkGrid {
//    grid-area: title2;
//    font-size: 1.5rem;
//    text-align: right;
//    @include mq("l") {
//     display: none;
// }
// }

#itButton {
    background-color: #4183d7;
}

.accreditations img {
    filter: grayscale(100%);
}

.accreditations img:hover {
    filter: none;
}

// WELCOME TO NETMATTERS SECTION

#welcome, .infoSection {
    background-color: #333645;
    color: white;
}

#welcomeHeading {
    @include mq("l") {
        display: none;
    }
    grid-area: welcome;
}

#welcome h1 {
    font-size: 2.4rem;
    @include mq("l") {
        font-size: 2.2rem;
    }
}

#headerItem1 {
    @include mq("l") {
        margin-right: 10%;
    }
}

.headerDesktop {
    display: none;
    @include mq("xl") {
        display: inline;
    }
}

#welcomeRightSide {
    @include mq("l") {
        justify-content: flex-end;
    }
    @include mq("xl") {
        width: 100%;
        grid-area: rightSide;
    }
}

#welcomeLeftSide {
    @include mq("l") {
        margin-right: 8%;
    }
    @include mq("xl") {
        width: 100%;
        grid-area: leftSide;
        justify-content: flex-start;
    }
}

#welcomeLeftSide p {
    @include mq("l") {
        margin-bottom: 8%;
        margin-top: 6%;
    }
    @include mq("xl") {
        margin-bottom: 3%;
        margin-top: 3%;
        line-height: 25px;
    }
}

#welcomeText p {
    text-align: left;
    font-size: 1.2rem;
}

#wPara1 {
    grid-area: wPara1;
}

#wPara2 {
    grid-area: wPara2;
}

#wPara3 {
    grid-area: wPara3;
}

.welcomeButtons {
    @include mq("l") {
        flex-direction: column;
        width: 100%;
    }
    @include mq("xl") {
        flex-direction: row;
        justify-content: center;
    }
}

#welcome button {
    font-size: 1.5rem;
    padding: 2%;
    @include mq("xl") {
        width: 270px;
        height: 57px;
        font-size: 1.3rem;
    }
}

.welcomeButtons button {
    @include mq("l") {
        height: 100%;
        margin-bottom: 5%;
    }
}

#leftButtons {
    @include mq("xl") {
        margin-top: 9%;
    }
}

#stars {
    grid-area: stars;
    @include mq("xl") {
        margin-top: 2%;
    } 
}

#stars img {
    min-width: 0;
}

#clientThoughts {
    @include mq("l") {
        display: none;
    }
}

#clientQoute {
    text-align: left;
    font-size: 1.7rem;
    grid-area: clientQoute;
    @include mq("l") {
        font-size: 1.3rem;
    }
    @include mq("xl") {
        line-height: 33px;
    }
}

#client {
    color: #a3a8ac;
    grid-area: client;
    font-size: 0.9rem;
    @include mq("xl") {
        font-size: 1.1rem;
    }
}

#clientCompany {
    font-size: 0.9rem;
    @include mq("xl") {
        font-size: 1.1rem;
    }
}

// NEWS SECTION

#newsSection {
    @include mq("m") {
        padding-top: 3%;
        padding-bottom: 4%;
    }
}

#newsSection h1 {
    font-size: 2.3rem;
    color: #333645;
}

.newsContainer {
    @include mq("m") {
        margin-bottom: 14%;
        box-shadow: 0px 0px 42px 26px rgba(0,0,0,0.05);
    }
}

.midSection p {
    color: #666;
    @include mq("l") {
        font-size: 0.85rem;
        margin-bottom: 0px;
        margin-top: 5px;
}
}

.midSection h3 {
    margin-top: 9%;
    @include mq("l") {
        margin-bottom: 10%;
        font-size: 1rem;
}
}

.midSection button {
    @include mq("l") {
        margin-top: 18%;
}
}

.topSection img {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    min-height: 0px;
    min-width: 0px;
}

.bottomSection img {
    padding-top: 0%;
}

.newsItem-1 h3 {
    color: #f62459;
}

.newsItem-2 h3 {
    color: #f7b322;
}

.newsItem-3 h3 {
    color: #4183d7;
}

.postDate {
    line-height: 0.3px;
}

.infoSection {
    padding-top: 4%;
    padding-bottom: 4%;
}

// SOCIAL MEDIA AND SITE LINKS SECTION

#whiteNetmattersLogo {
    width: 310px;
}

.socials {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 3%;
    padding-left: 3%;
}

.socialMedia button {
    @include mq("l") {
        width: 67px;
        height: 56px;
        padding: 1%;
    }
}

.socialMedia button img {
    @include mq("l") {
        height: 20px;
        width: 20px;
    }
}

#facebook img {
    @include mq("l") {
        width: 15px;
}
}

.biggerDeviceSiteLinks h3 {
    @include mq("l") {
        font-size: 0.94rem;
    }
}

.netmattersLinks {
    @include mq("l") {
        font-size: 0.85rem;
        margin-top: 10%;
    }
}

.netmattersLinks a {
    color: white;
    text-decoration: none;
    @include mq("l") {
        margin-bottom: 3%;
    }
}

.netmattersLinks a:visited {
    color: white;
    border: none;
}

// COPYRIGHT SECTION

#coprightInfo p {
    text-align: left;
}

#rights {
    margin-top: 3px;
    margin-bottom: 3px;
}

#copyrightSection {
    background-color: #212330;
    color: white;
    padding: 2%;
    @include mq("m") {
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        font-size: 0.8rem;
    }
}

#netmattersCopyright, #sitemap {
    margin: 0px;
}

