// GENERIC PAGE STYLINGS

input {
    text-indent: 2%;
}

button {
    color: white;
    background-color: #f7b322;
    border-radius: 3px;
    border: none;
}

.blueButton {
    background-color: #4183d7;
}

.darkButton {
    background-color: #272936;
}

.greenButton {
    background-color: #2ecc71;
}

.darkGreenButton {
    background-color: #00b67b;
}

.redButton {
    background-color:#f62459;
}

.purpleButton {
    background-color: rgb(146, 111, 177);
}

.maroon {
    background-color: rgb(214, 69, 65);
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

// MAIN HEADER SECTION

#mainSearchBar, #searchIcon {
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    border-color: #D5D5D5;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
}

#searchIcon {
    border-right-style: solid;
    border-left-style: none;
    border-top-left-radius: none;
    border-bottom-left-radius: none;
}

// IMAGE BANNER SECTION

.infoBanner {
    color: white;
}

.overlayingBannerItems h1 {
    z-index: 2;
    text-align: center;
    font-size: 2.7rem;
}

.overlayingBannerItems p {
    font-size: 1.4rem;
    text-align: center;
}

.overlayingBannerItems button {
    height: 60px;
    font-size: 20px;
    padding: 4%;
    line-height: 0px;
}

// OUR SERVICES SECTION

#serviceMenu {
    color: rgb(51, 54, 69);

}

#serviceMenu .item {
    text-align: center;
}

#serviceMenu H1 {
    font-size: 3rem;
    margin-top: 6%;
    margin-bottom: 5%;
}

#serviceMenu p {
    font-size: 0.83rem;
}

.item button {
    height: 47px;
    width: 130px;
    font-size: 1.063rem;
    margin-bottom: 4%;
}

.item img {
    padding-top: 4%;
}

#itButton {
    background-color: #4183d7;
}

.accreditations img {
    filter: grayscale(100%);
}

.accreditations img:hover {
    filter: none;
}

// WELCOME TO NETMATTERS SECTION

#welcome, .infoSection {
    background-color: #333645;
    color: white;
}

#welcome h1 {
    font-size: 2.4rem;
}

#welcomeText p {
    text-align: left;
    font-size: 1.2rem;
}

#welcome button {
    font-size: 1.5rem;
    padding: 2%;
}

#stars img {
    min-width: 0;
}

#clientQoute {
    text-align: left;
    font-size: 1.7rem;
}

#client {
    color: #a3a8ac;
}

// NEWS SECTION

#newsSection h1 {
    font-size: 2.3rem;
    color: #333645;
}

.midSection p {
    color: #666;
}

.topSection img {
    width: 100%;
    height: 100%;
}

.newsItem-1 h3 {
    color: #f62459;
}

.newsItem-2 h3 {
    color: #f7b322;
}

.newsItem-3 h3 {
    color: #4183d7;
}

.infoSection {
    padding-top: 4%;
    padding-bottom: 4%;
}

// SOCIAL MEDIA AND SITE LINKS SECTION

.socials {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 3%;
    padding-left: 3%;
}

.netmattersLinks a {
    color: white;
    text-decoration: none;
}

.netmattersLinks a:visited {
    color: white;
    border: none;
}

// COPYRIGHT SECTION

#coprightInfo p {
    text-align: left;
}

#rights {
    margin-top: 3px;
    margin-bottom: 3px;
}

#copyrightSection {
    background-color: #212330;
    color: white;
    padding: 2%;
}

#netmattersCopyright, #sitemap {
    margin: 0px;
}

