//MAIN NAV BAR

#optionBespoke:hover {
    background-color: $greyHover;
}

#optionSupport:hover {
    background-color: $blueHover;
}

#optionMarketing:hover {
    background-color: $lightGreenHover;
}

#optionTelecom:hover, #optionDev:hover {
    background-color: $maroonHover;
}

#optionDesign:hover {
    background-color: $purpleHover;
}

#optionSecurity:hover {
    background-color: $hotPinkHover;
}

#optionBespoke:hover #navBespokeLogo{
    display: none;
}

#optionBespoke:hover #navBespokeLogoWhite{
    display: inline;
}

#optionSupport:hover #navSupportLogo{
    display: none;
}

#optionSupport:hover #navSupportLogoWhite{
    display: inline;
}

#optionMarketing:hover #navMarketingLogo{
    display: none;
}

#optionMarketing:hover #navMarketingLogoWhite{
    display: inline;
}

#optionTelecom:hover #navTelecomLogo{
    display: none;
}

#optionTelecom:hover #navTelecomLogoWhite{
    display: inline;
}

#optionDesign:hover #navDesignLogo{
    display: none;
}

#optionDesign:hover #navDesignLogoWhite{
    display: inline;
}

#optionSecurity:hover #navCyberLogo{
    display: none;
}

#optionSecurity:hover #navCyberLogoWhite{
    display: inline;
}

#optionDev:hover #navDevLogo{
    display: none;
}

#optionDev:hover #navDevLogoWhite{
    display: inline;
}

// .navItem:hover {
//     .navSubMenuContainer, #navSubMenu {
//         display: flex;
//         background-color: red;
//     }
// }

#navMarketingLogo {
    @include menuHover($greyHover);
}
