// IMAGE BANNER

.overlayingBannerItems {
    #slideTechCompany:hover {
        background-color: $purpleHover;
    }

    #slideBespokeSoftware:hover {
        background-color: $goldHover;
    }

    #slideITSupport:hover {
        background-color: $blueHover;
    }

    #slideDigitalMarketing:hover {
        background-color: $greenHover;
    }

    #slideTelecoms:hover {
        background-color: $maroonHover;
    }

    #slideWebDesign:hover {
        background-color: $purpleHover;
    }

    #slideSecurity:hover {
        background-color: $hotPinkHover;
    }
}

//MAIN NAV BAR

#optionBespoke:hover {
    background-color: $lightgreyHover;
}

#optionSupport:hover {
    background-color: $lightBlueHover;
}

#optionMarketing:hover {
    background-color: $lightGreenHover;
}

#optionTelecom:hover, #optionDev:hover {
    background-color: $maroonHover;
}

#optionDesign:hover {
    background-color: $purpleHover;
}

#optionSecurity:hover {
    background-color: $hotPinkHover;
}

#optionBespoke:hover #navBespokeLogo{
    display: none;
}

#optionBespoke:hover #navBespokeLogoWhite{
    display: inline;
}

#optionSupport:hover #navSupportLogo{
    display: none;
}

#optionSupport:hover #navSupportLogoWhite{
    display: inline;
}

#optionMarketing:hover #navMarketingLogo{
    display: none;
}

#optionMarketing:hover #navMarketingLogoWhite{
    display: inline;
}

#optionTelecom:hover #navTelecomLogo{
    display: none;
}

#optionTelecom:hover #navTelecomLogoWhite{
    display: inline;
}

#optionDesign:hover #navDesignLogo{
    display: none;
}

#optionDesign:hover #navDesignLogoWhite{
    display: inline;
}

#optionSecurity:hover #navCyberLogo{
    display: none;
}

#optionSecurity:hover #navCyberLogoWhite{
    display: inline;
}

#optionDev:hover #navDevLogo{
    display: none;
}

#optionDev:hover #navDevLogoWhite{
    display: inline;
}

// .navItem:hover {
//     .navSubMenuContainer, #navSubMenu {
//         display: flex;
//         background-color: red;
//     }
// }

#optionMarketing {
    @include menuHover($lightGreenHover);
}

#optionBespoke {
    @include menuHover($lightgreyHover);
}

#optionSupport {
    @include menuHover($lightBlueHover);
}

#optionTelecom {
    @include menuHover($lightRedHover);
}

#optionDesign {
    @include menuHover($purpleHover);
}

#optionSecurity {
    @include menuHover($hotPinkHover); 
}

#optionDev {
    @include menuHover($lightRedHover);
}


// NEWS


#blackSwanInfo:hover, #craneInfo:hover, #girlGuidingrInfo:hover {
    .accreditationsDetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}