// TITLE HEADER SECTION

.titleBar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 23px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 10px;
    @include mq("m") {
        display: grid;
        grid-template-columns: 46% 4% 38% 12%; 
        grid-template-rows: auto;
        grid-template-areas: 
        "logo . searchBar burgerMenu";
        gap: 0px;
        justify-items: end;
    }
    @include mq("l") {
        display: grid;
        grid-template-columns: 43% 7% 15% 15% 10% 10%; 
        grid-template-rows: auto;
        grid-template-areas: 
        "logo . support contact search burgerMenu";
        column-gap: 7px;
        justify-items: center;
        padding-left: 0px;
    }
    @include mq("xl") {
        grid-template-columns: 36% 3% 12% 12% 27% 10%; 
        grid-template-areas: 
        "logo . support contact searchBar burgerMenu";
        margin-bottom: 1.5%;
        margin-top: 1%;
    }
}

.titleItems {
    flex-grow: 1;
}

.titleItems:nth-child(1) {
    justify-content: flex-start;
    height: 100px;
    width: 150px;
    // flex-basis: 400px;
    max-height: 70px;
    max-width: 400px;
    // min-width: auto;
    // min-height: auto;

}

.titleItems:nth-child(2) {
    max-height: 30px;
    max-width: 30px;
    margin-left: auto;
    
}

#burgerMenuButton {
    height: 56px;
    width: 40px;
    max-height: 90px;
    max-width: 70px;
    background-color: #333645;
    border-radius: 8%;
    border: none;
}


.searchBar {
    display: flex;
    flex-grow: 1;
    width: 100%;
    gap: none;
    padding-right: 15px;
}

.lDeviceSearchBar {
    display: flex;
    min-height: 56px;
    min-width: 238px;

}

#mainSearchBar {
    flex-grow: 1;
    height: 44px;
    margin-bottom: 18px;
    margin-left: 15px;
    background-color:  rgba(0, 0, 0, .1);
    //padding-left: 15px;
}

#searchIcon {
    height: 44px;
    width: 40px;
    border: none;
    background-color:  rgba(0, 0, 0, .1);
}

#searchIcon img{
    height: 55%;
}

//MAIN NAV BAR

.mainNavBar {
    background-color: #333645;
    display: none;
    @include mq("l") {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 1.5%;
        padding-bottom: 1.5%;
    }
}

.navOptions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// IMAGE BANNER SECTION

.infoBanner {
    display: flex !important; 
    height: 550px;
    width: auto;
    position: relative;
    justify-content: center;
}

#bannerImage {
    //background-size: cover;
    flex-basis: 100%;
    z-index: 0;
    min-width: 0px;
    min-height: 550px;
    //overflow: hidden;
}

// .infoBannerItem {
//     grid-column: 1 / 2;
//     grid-row: 1 / 2;
// }

.overlayingBannerItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: absolute;
    z-index: 1;
    @include mq("l") {
        align-items: flex-start;
        padding-right: 20%;
        padding-left: 4%;
    }
}

// OUR SERVICES SECTION

#serviceMenu {
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 7%;
    @include mq("l") {
        margin-left: 4%;
        margin-right: 4%;
    }

}

#serviceHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq("xl") {
        justify-content: center;
        gap: 578px;
    }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 35px;
    @include mq("m") {
        margin-top: 4%;
        margin-bottom: 12%;
    }
    @include mq("l") {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 4%;
        margin-bottom: 12%;
    }
    @include mq("xl") {
        justify-content: center;
    }
}

#firstRow {
    @include mq("m") {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;
    }

    @include mq("l") {
    display: flex;
    width: 100%;
    justify-content: space-between;
    }
    @include mq("xl") {
        justify-content: center;
        gap: 20px;
        }
}

#secondRow {
    @include mq("m") {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;
    }
    @include mq("l") {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 30px;
    }
    @include mq("xl") {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0px 0px 42px 26px rgba(0,0,0,0.05);
}

.accreditations {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mq("xl") {
        justify-content: center;
        gap: 280px;
    }
}

.ourWork {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ourWork h2 {
    @include mq("m") {
        display: none;
    }
}

// WELCOME TO NETMATTERS SECTION

#welcome {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 8%;
    @include mq("l") {
        display: flex;
        flex-wrap: wrap;
    }
    @include mq("xl") {
        padding-bottom: 4%;
        }
}

.welcomeContainer {
    @include mq("l") {
        display: flex;
    }
    @include mq("xl") {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    }
}

#welcomeGrid {
    @include mq("xl") {
        display: grid;
        grid-template-areas: 
        "leftSide rightSide";
        column-gap: 15px;
        }
}

.welcomeSections {
    @include mq("xl") {
    display: flex;
    flex-direction: column;
}
}



.welcomeItems {
    @include mq("l") {
        display: flex;
        flex-direction: column;
        width: 46%;
    }
    @include mq("xl") {
        justify-content: center;
    }
}

#welcomeHeaderLaptop {
    display: flex;
    width: 100%;
    @include mq("xl") {
        display: none;
}
}

.welcomeButtons {
    display: flex;
    width: 100%;
    gap: 10px;
}

#stars {
    display: flex;
    max-width: 250px;
    gap: 5px;
    margin-bottom: 5%;
    margin-top: 7%;
}

#clintInfo {
    display: flex;
    font-size: 1.3rem;
    gap: 8px;
    margin-bottom: 5%;
}

// NEWS SECTION

.newsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 35px;
    @include mq("m") {
        flex-direction: row;
        overflow: hidden;
    }
    @include mq("xl") {
        gap: 30px;
        width: 100%;
        justify-content: center;
    }
}

.item {
    @include mq("m") {
        min-width: 350px;
    }
    @include mq("l") {
        min-width: 458px;
    }
}

#newsSection, .infoSection {
    padding-left: 2%;
    padding-right: 2%;
    @include mq("l") {
        padding-left: 4%;
    padding-right: 4%;
    }
}

#newsSection .item {
    border-radius: 3px;
    @include mq("xl") {
        min-width: 370px;
        min-height: 583px;
        max-height: 583px;
    }
}

.topSection {
    display: flex;
    flex-grow: 1;
    width: 100%;
    @include mq("l") {
        min-height: 263px;
        max-height: 263px;
    }
}

.midSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    @include mq("xl") {
        flex-wrap: wrap;
    }
}

.postDate {
    display: flex;
    flex-direction: column;
}

.bottomSection {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-left: 4%;
    align-items: center;
    gap: 3%;
}

// SOCIAL MEDIA AND SITE LINKS SECTION

.netmattersLinks {
    display: flex;
    flex-direction: column;
    @include mq("m") {
        min-width: 255px;
    }
    @include mq("l") {
        min-width: 243px;
    }
}

.biggerDeviceSiteLinks {
    @include mq("m") {
        display: flex;
        flex-wrap: wrap;
        gap: 20%;
    }
    @include mq("l") {
        display: flex;
        flex-wrap: nowrap;
        gap: 1%;
        margin-top: 3%;
        overflow: hidden;
        max-width: 942px;
    }
}

// COPYRIGHT SECTION

#coprightInfo {
    @include mq("m") {
        display: flex;
        align-items: center;
        gap: 1%;
    }
}





