@mixin mq($break) {
    @if $break == "xs" {
        @media (min-width: $break-xs) {
            @content;
        }
    }
    @else if $break == "s" {
        @media (min-width: $break-s) {
            @content;
    }
} 
    @else if $break == "m" {
        @media (min-width: $break-m) {
            @content;
    }
}
    @else if $break == "l" {
        @media (min-width: $break-l) {
            @content;
    }
}
    @else if $break == "xl" {
        @media (min-width: $break-xl) {
            @content;
}
}
}

@mixin hoverItem($bColor){
    background-color: $bColor;
    color: white;
    .tagButton {
        background-color: white;
        color: $bColor;
    }
}

@mixin menuHover($color) {
    &:hover {
        .navSubMenuContainer {
            display: block;
            background-color: darken($color, 10%);
        }
        .navSubMenu {
            display: flex;
            flex-direction: column;
        }
        .subMenuOption {
            display: flex;
        }
    }
}