@mixin mq($break) {
    @if $break == "xs" {
        @media (min-width: $break-xs) {
            @content;
        }
    }
    @else if $break == "s" {
        @media (min-width: $break-s) {
            @content;
    }
} 
    @else if $break == "m" {
        @media (min-width: $break-m) {
            @content;
    }
}
    @else if $break == "l" {
        @media (min-width: $break-l) {
            @content;
    }
}
    @else if $break == "xl" {
        @media (min-width: $break-xl) {
            @content;
}
}
}

@mixin hoverItem($bColor){
    background-color: $bColor;
    color: white;
    .tagButton {
        background-color: white;
        color: $bColor;
    }
}

@mixin menuHover($color) {
    &:hover {
        .navSubMenuContainer {
            display: flex;
            justify-content: center;
            background-color: darken($color, 10%);
        }
        .navSubMenu {
            display: flex;
            flex-wrap: wrap;
            // flex-direction: column;
            // height: 100%;
            // max-height: 369.19px;
            margin: 0 auto;
            @include mq("l") {
                width: 970px;
            }
            @include mq("xl") {
                width: 1200px;
            }
        }
        .navItem::after {
            display: inline;
            border-color: $color transparent transparent;
        }
        .subMenuOption {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // height: 100%;
            // max-height: 369.19px;
            width: 100%;
        }
        .subMenuLinks {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .subMenuLinkOption {
            display: flex;
            align-items: center;
            gap: 20px;
            width: 33.33%;
        }
    }
}