// BREAKPOINTS
$break-xs: 1px;
$break-s: 460px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1260px;

//Hover Colors
$blueHover: #1858F7;
$lightBlueHover: #4183d7;
$greyHover: #898989;
$lightgreyHover: #67809f;
$darkHover: #141215;
$greenHover: #01B32C;
$lightGreenHover: #2ecc71;
$purpleHover: #8B1CDC;
$maroonHover: rgb(214, 69, 65);
$hotPinkHover: #f62459;
$lightRedHover: #d64541;
$goldHover: #e8a008;
