#cookieContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 70;
    width: 320px;
    max-height: 599.14px;
    margin-top: -187.7px;
    margin-left: -160px;
    // padding: 15px 20px 20px 15px;
    display: none;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;

    @media (min-width: 476px) {
        width: 416px;
        max-height: 539.14px;
        margin-left: -205px;
    }

    @include mq("m") {
        width: 600px;
        height: 374.14px;
        margin-left: -300px;
        max-height: 374.14px;
        max-width: 600px;
    }
}

.cookieTopSection {
    font-size: 1.4rem;
    border-bottom: 1px solid #e5e5e5;

    h3 {
        margin-left: 20px;
        font-weight: 390;
        margin-top: 19px;
        margin-bottom: 19px;
    }
}

.cookieMidSection {
    line-height: 1.8;

    p {
        margin-top: 19.480px;
        margin-left: 20px;
        margin-right: 20px;
        color: #666;
        font-size: 1.03rem;
    }
}

.cookieBottomSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 29px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5;
    margin-bottom: 20px;

    @include mq("m") {
        flex-direction: row;
    }

    .cookieButton {
        width: 278px;
        height: 47px;
        padding-top: 13px;
        text-align: center;
        border-radius: 3px;
        font-size: 1.1rem;

        @media (min-width: 476px) {
            width: 374px;
        }

        @include mq("m") {
            width: 264px;
        }
    }

    #cookieChange {
        background-color: #999aa2;
    }

    #cookieAccept {
        background-color: #926fb1;
    }
}