#cookieContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 70;
    width: 320px;
    max-height: 599.14px;
    margin-top: -187.7px;
    margin-left: -160px;
    // padding: 15px 20px 20px 15px;
    display: none;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;

    @media (min-width: 476px) {
        width: 416px;
        max-height: 539.14px;
        margin-left: -205px;
    }

    @include mq("m") {
        width: 600px;
        height: 374.14px;
        margin-left: -300px;
    }
}

.cookieTopSection {
    font-size: 1.4rem;
    border-bottom: solid 0.4px grey;

    h3 {
        margin-left: 20px;
        font-weight: 390;
    }
}

.cookieMidSection {
    line-height: 1.8;

    p {
        margin-left: 20px;
        margin-right: 20px;
        color: #666;
    }
}

.cookieBottomSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 24px;
    padding-top: 20px;
    border-top: solid 0.4px grey;
    margin-bottom: 20px;

    @include mq("m") {
        flex-direction: row;
    }

    .cookieButton {
        width: 278px;
        height: 47px;
        padding-top: 17px;
        text-align: center;
        border-radius: 3px;

        @media (min-width: 476px) {
            width: 374px;
        }

        @include mq("m") {
            width: 264px;
            height: 49px;
        }
    }

    #cookieChange {
        background-color: $greyHover;
    }

    #cookieAccept {
        background-color: #926fb1;
    }
}