.infoBanner {
    display: flex !important; 
    height: 550px;
    width: 100%;
    position: relative;
    justify-content: center;
}

.bannerSlider {
    width: 100%;
    display: flex;
}

.bannerImage {
    display: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 0;
    min-width: 100%;
    min-height: 550px;
    flex-shrink: 0;
}

#bannerItemsContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
    z-index: 1;
    @include mq("l") {
        width: 970px;
    }
    @include mq("xl") {
        width: 1200px;
    }
}

.overlayingBannerItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    position: absolute;
    z-index: 1;
    @include mq("l") {
        align-items: flex-start;
        width: 100%;
        // padding-right: 20%;
        // padding-left: 70%;
    }
}

.bannerInfo {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mq("l") {
        align-items: flex-start;
        padding-right: 20%;
    }
}

.displayItem {
    display: block;
}

.sliderButtonContainer {
    justify-content: center;
    position: absolute;
    gap: 30px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    bottom: 44px;
    text-align: center;
}

