.mainNavBar {
    background-color: #333645;
    display: none;
    @include mq("l") {
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-left: 6%;
        padding-right: 6%;
        position: relative;
    }
}

.navOptions {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.navItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 167.14px;
    height: 99.02px;
}

// SUBMENU 

.navSubMenuContainer {
    display: none;
    position: absolute;
    z-index: 3;
    min-width: 100%;
    left: 0;
    top: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}
