#newsSection {
    padding-left: 2%;
    padding-right: 2%;
}

#newsTitleContainer {
    display: flex;
    justify-content: flex-start;
    @include mq("s") {
        justify-content: flex-start;
    }
    @include mq("m") {
        justify-content: center;
    }
}

.newsTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mq("s") {
        justify-content: flex-start;
    }
    @include mq("m") {
        gap: 377px;
    }
    @include mq("l") {
        gap: 590px;
        }
    @include mq("xl") {
        gap: 842px;
        }
}

.newsContainer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 35px;
    @include mq("m") {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    @include mq("l") {
        gap: 30px;
        width: 100%;
    }
    @include mq("xl") {
        flex-wrap: nowrap;
    }
}

.item {
    @include mq("m") {
        min-width: 350px;
    }
    @include mq("l") {
        min-width: 458px;
    }
}

#newsSection .item {
    justify-content: flex-start;
    border-radius: 3px;
    padding: 0px;
    @include mq("m") {
        min-width: 345px;
        min-height: 569px;
        max-height: 569px;
        max-width: 345px;
    }
    @include mq("l") {
        min-width: 455px;
        min-height: 633px;
        max-height: 633px;
        max-width: 455px;
    }
    @include mq("xl") {
        min-width: 370px;
        min-height: 583px;
        max-height: 583px;
        max-width: 370px;
    }
}

#newsSection #thirdNewsItem {
    @include mq("m") {
        display: none;
    }
    @include mq("xl") {
        display: flex;
    }
}

.topSection {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    @include mq("m") {
        min-height: 199.41px;
        max-height: 199.41px;
    }
    @include mq("l") {
        min-height: 263px;
        max-height: 263px;
    }
    @include mq("xl") {
        min-height: 213.86px;
        max-height: 213.86px;
    }
}

.midSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    @include mq("xl") {
        flex-wrap: wrap;
    }
}

.postDate {
    display: flex;
    flex-direction: column;
}

.bottomSection {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-left: 4%;
    align-items: center;
    gap: 3%;
}

#newsSection .mobileOnly {
    text-align: center;
}

#newsSection .accreditations {
    @include mq("xs") {
        gap: 25%;
    }
    @include mq("s") {
        gap: 30%;
    }
    @include mq("m") {
        gap: 40px;
    }
    @include mq("l") {
        gap: 100px;
    }
    @include mq("xl") {
        gap: 200px;
        margin-top: -10%;
        margin-bottom: -2%;
    }
}