.infoSection {
    padding-left: 2%;
    padding-right: 2%;
}

.smSectionContainer {
    @include mq("l") {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 970px;
        column-gap: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    @include mq("xl") {
        flex-direction: row;
        gap: 50px;
        width: 1200px;
    }
}

#smLeftSide {
    @include mq("xl") {
        display: flex;
        flex-direction: column;
    }
}

.netmattersLinks {
    display: flex;
    flex-direction: column;
    @include mq("m") {
        min-width: 255px;
    }
    @include mq("l") {
        min-width: 243px;
    }
    @include mq("xl") {
        min-width: 200px;
    }
}

.biggerDeviceSiteLinks {
    @include mq("m") {
        display: flex;
        flex-wrap: wrap;
        gap: 20%;
    }
    @include mq("l") {
        display: flex;
        flex-wrap: nowrap;
        gap: 1%;
        margin-top: 3%;
        overflow: hidden;
        max-width: 942px;
    }
    @include mq("xl") {
        margin-top: 0px;
        gap: 2%;
    }
}

#socialButtonContainer {
    display: flex;
    flex-wrap: wrap;
    width: 312.34px;
    height: 132px;
    column-gap: 10px;
    row-gap: 3px;
}
